<p>
	<mat-toolbar color="primary">
		<mat-icon> content_paste </mat-icon>
		<span>Bulletin board </span>
	</mat-toolbar>
</p>

<mat-card>
	<mat-card-title>Add new announcement</mat-card-title>
	<mat-card-content>
		<mat-form-field appearance="fill">
			<mat-label>Title</mat-label>
			<input matInput />
		</mat-form-field>
		<mat-form-field appearance="fill">
			<mat-label>Textarea</mat-label>
			<textarea matInput></textarea>
		</mat-form-field>
		<button mat-raised-button color="primary">Add</button>
	</mat-card-content>
</mat-card>

<app-announcement></app-announcement>
